@import "bootstrap";
@import "./utils/variables";

@import "./layouts/home";
@import "./layouts/product";

.bg {
  background: map-get($colors, tertiary);
}

.btn-primary {
  background: map-get($colors, primary);
  border-color: map-get($colors, primary);

  &:hover {
    background: map-get($colors, secondary);
    border-color: map-get($colors, secondary);
  }
}

#alerts {
  position: absolute;
  bottom: 0;
  right: 1em;
}
